<div id="main">
  <h2>Main Component</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam molestiae
    exercitationem, sit ipsa unde ipsum id et. Voluptatem voluptates aperiam
    perferendis commodi quod fugiat expedita officia voluptatibus corporis modi
    ipsam vero, delectus qui atque, ab accusamus optio obcaecati eum provident?
    Aliquam exercitationem quidem id consectetur, maxime nemo reprehenderit
    voluptatem porro dolores tenetur nam vel eum ducimus repellat molestias
    praesentium quisquam cum recusandae accusamus iste velit dicta quod
    inventore. Molestias, doloremque?
  </p>

  <button class="btn btn-primary">Explore More!!!</button>
</div>
