<div class="container">
  <div class="row">
    <div class="col-8">
      <button mat-button>Angular Material</button>
      <button mat-button color="primary">Angular Material</button>
      <button mat-button color="warn">Angular Material</button>
      <button mat-button color="accent">Angular Material</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-8">
      <button mat-raised-button>Angular Material</button>
      <button mat-raised-button color="primary">Angular Material</button>
      <button mat-raised-button color="warn">Angular Material</button>
      <button mat-raised-button color="accent">Angular Material</button>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <button mat-icon-button color="primary">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</div>
