<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">Angular Directives</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/category">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/chatapp">ChatApp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
